<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>邮件胶囊</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main_01.css}">
</head>
<body>

    <div class="home-main">
        <img class="logo-big" th:src="@{/images/mail-big.jpg}">
        <h1 class="title">邮件胶囊</h1>
        <div class="action">
            <a class="put" th:href="@{/saveUI}"><span>Put</span>创建胶囊</a>
            <a class="open" th:href="@{/findUI}"><span>Open</span>查看胶囊</a>
        </div>
        <div class="home-footer">
            <a href="http://p.timepill.net/open/38e7687f-15e4-263c-8a8c-bb1d89ea49e0">什么是邮件胶囊？</a>
            <a href="http://www.timepill.net/">回胶囊日记</a>
        </div>
    </div>

</body>
</html>